
   
   <div class="row">
       <h3 class="header">live ratings</h3>
     <div class="row liveRatingCard">
        <div class="col-md-3 padding-0">
           <div class="card">  
              <div class="card-body">
                <img src="assets/images/card1.jpg" class="img-responsive" />
                 <header>
                     <img class="profileImg" src="assets/images/card1.jpg" alt="Card image icn">
                     <span>2 mins</span>
                 </header>
                 <footer>
                   <h4>High Street Kensington</h4>
                   <p>Kensington High St</p>
                   <p>Subway Station</p>
                 </footer>
              </div>
           </div>
        </div>
        <div class="col-md-3 padding-0">
           <div class="card">  
              <div class="card-body">
                <img src="assets/images/card2.jpg" class="img-responsive" />
                 <header>
                     <img class="profileImg" src="assets/images/card1.jpg" alt="Card image icn">
                     <span>2 mins</span>
                 </header>
                 <footer>
                   <h4>Lambeth North</h4>
                   <p>Lambeth</p>
                   <p>Subway Station</p>
                 </footer>
              </div>
           </div>
        </div>
        <div class="col-md-3 padding-0">
           <div class="card">  
              <div class="card-body">
                <img src="assets/images/card3.jpg" class="img-responsive" />
                 <header>
                     <img class="profileImg" src="assets/images/card1.jpg" alt="Card image icn">
                     <span>2 mins</span>
                 </header>
                 <footer>
                   <h4>Tower Bridge</h4>
                   <p>Tower Bridge Rd</p>
                   <p>Bridge</p>
                 </footer>
              </div>
           </div>
        </div>
        <div class="col-md-3 padding-0">
           <div class="card">  
              <div class="card-body">
                <img src="assets/images/card1.jpg" class="img-responsive" />
                 <header>
                     <img class="profileImg" src="assets/images/card1.jpg" alt="Card image icn">
                     <span>2 mins</span>
                 </header>
                 <footer>
                   <h4>Imperial College London Central Library</h4>
                   <p>Imperial College London</p>
                   <p>University Library</p>
                 </footer>
     
                 <div class="overlay"></div>
              </div>
           </div>
        </div>
     </div>
     
     
     
  </div>