
<app-header></app-header>

<div class="container margin-Top40-Bottom80">
  
  <div class="row">
        <div class="col-md-6 padding-0">
           <div class="card">
              <div class="card-body locationInfo">
                 <h3>Los Anegeles Tennis Center in UCLA Campus</h3>
                 <p class="location">Westwood Plaza</p>
                 <p>Tennis Court</p>
                 <p>79/1, Zero One Complex, Pingale Vasti, Near Passport Seva Kendra, Mundhwa, Pune, Maharashtra 411036 </p>
              </div>
           </div>
        </div>
        <div class="text-center col-md-6 padding-0">
           <div class="card">
              <div class="card-body text-right">
                 <button class="btn header-btn">Directions</button> 
                 <div class="clearfix"></div>
                 <div class="card-body locationCard">
                   <div id="Map" style="overflow: hidden;">
                         <iframe style="border-radius: 15px; -moz-border-radius: 15px 15px 15px 15px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3782.2746260378813!2d73.8817828!3d18.5616536!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0d930bf78a1%3A0xd0e23bbcb24bc1fd!2sSai+Baba+Temple!5e0!3m2!1sen!2sin!4v1562405094352!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                       </div>
                  </div>
              </div>
           </div>
        </div>
     </div>
<app-live-rating></app-live-rating>

</div>
 <app-footer></app-footer>


<router-outlet></router-outlet>
